<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ControleDeLoginEntities" connectionString="metadata=res://*/Models.ControleDeLogin.csdl|res://*/Models.ControleDeLogin.ssdl|res://*/Models.ControleDeLogin.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=INTUITIVENOTE\INTUITIVE;initial catalog=ControleDeLogin;persist security info=True;user id=sa;password=99581117;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>